html {
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --colour-primary: #F2EFE6;
  --colour-font-black: #1F1F24;
  --colour-bg-red: #53171D;
  --colour-highlight-red: #AC2836;
  --colour-highlight-orange: #EC8E54;

  --bg-color: rgb(201, 169, 231);
  --text-color: rgb(0, 0, 0);
  --header-color: rgb(199, 18, 18);
  --section-bg: rgb(255, 255, 255);
  --button-bg: #cfdb2a;
  --button-color: rgb(174, 18, 18);
  --menu-bg: rgb(78, 78, 158);
  --icon-bg: rgb(207, 51, 51);

  --font-size-desktop-h1: clamp(3.5rem, 2.5vw + 1rem, 4.5rem);
  /* 4rem */
  --font-size-desktop-h2: clamp(2.75rem, 1vw + 2rem, 3.25rem);
  /* 3rem; */
  --font-size-desktop-h3: clamp(2.25rem, 1vw + 1rem, 2.75rem);
  /* 2.5rem; */
  --font-size-body: clamp(1rem, 0.9vw + 0.3rem, 1.25rem);
  --font-size-mobile-h1: clamp(1.75rem, 1vw + 0.5rem, 2.25rem);
  --font-size-number: clamp(9.5rem, 6vw + 4rem, 11.5rem);
  /* 10.625rem; */
  --font-size-number-mobile: clamp(5rem, 3vw + 2rem, 6.5rem);
  /* 6rem */
  --font-size-title: clamp(1.375rem, 1vw + 0.5rem, 1.625rem);
  /* 1.5rem; */
  --font-size-subtitle: clamp(1.8rem, 2vw + 0.5rem, 2.5rem);
  /* 2rem; */
  --font-size-bd: clamp(1.66rem, 0.53vi + 1.52rem, 2rem);
  --font-size-md: clamp(1.7rem, 1.8vw + 0.4rem, 2.25rem);
  /* 1.875rem */

  --font-size-lg: clamp(3.5rem, 2.5vw + 1rem, 4.5rem);
  /* 4rem */

  --spacing-60: 3.75rem;
  --spacing-30: 1.875rem;
  --spacing-20: 1.25rem;
  --spacing-10: 0.625rem;
  --spacing-5: 0.3125rem;

  --size-box: 3.125rem;
  --size-box-mobile: 2.5rem;
  --size-border-radius: 0.3125rem;
  --size-border-width: 0.125rem;
  --header-font: "EB Garamond", serif;
}

@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-desktop-h1: 4rem;
    --font-size-desktop-h2: 3rem;
    --font-size-desktop-h3: 2.5rem;
    --font-size-body: 1.125rem;
    --font-size-mobile-h1: 2rem;
    --font-size-number: 10.625rem;
    --font-size-number-mobile: 6rem;
    --font-size-title: 1.5rem;
    --font-size-subtitle: 2rem;
    --font-size-bd: 1.66rem;
    --font-size-md: 1.875rem;
    --font-size-lg: 4rem;
  }

  @media screen and (min-width: 1440px) {
    :root {
      --font-size-desktop-h1: 4.5rem;
      --font-size-desktop-h2: 3.25rem;
      --font-size-desktop-h3: 2.75rem;
      --font-size-body: 1.25rem;
      --font-size-mobile-h1: 2.25rem;
      --font-size-number: 11.5rem;
      --font-size-number-mobile: 6.5rem;
      --font-size-title: 1.625rem;
      --font-size-subtitle: 2.5rem;
      --font-size-bd: 2rem;
      --font-size-md: 2.25rem;
      --font-size-lg: 4.5rem;
    }
  }
}

h1 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 160%;
  font-size: var(--font-size-desktop-h3);
}

h2 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  font-size: var(--font-size-md);
}

h3 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  font-size: var(--font-size-md);
}

body {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--colour-primary);
  line-height: 160%;
  font-size: var(--font-size-body);
}

.highlight-red {
  color: var(--colour-highlight-red);
  font-weight: 700;
}

.highlight-orange {
  color: var(--colour-highlight-orange);
  font-weight: 700;
}

.header__logo-image {
  width: 50%;
  height: auto;
  margin: var(--spacing-30);
}

.header__menu {
  background-color: var(--colour-bg-red);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -130rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  transition: .3s ease;
  padding: var(--spacing-30);
  font-size: var(--font-size-lg);
  line-height: 160%;
}

.header__menu.active {
  right: 0;
}

.header__menu a {
  color: var(--colour-primary);
}

.header__menu a:visited {
  color: var(--colour-highlight-orange);
}

.header__ham-menu {
  height: 3rem;
  width: 3rem;
  position: relative;
}

.header__ham-menu:hover {
  cursor: pointer;
}

.header__ham-menu span {
  background-color: black;
  height: 0.2rem;
  width: 100%;
  position: absolute;
  top: -8rem;
  bottom: 3rem;
  right: -18rem;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.header__ham-menu span:nth-child(1) {
  top: -7rem;
}

.header__ham-menu span:nth-child(3) {
  top: -6rem;
}

.header__ham-menu.active span:nth-child(1) {
  top: -6rem;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--colour-primary);
}

.header__ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.header__ham-menu.active span:nth-child(3) {
  top: -6rem;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--colour-primary);
}

.header__hero-container {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-template-rows: repeat(4, 6rem);
  justify-content: center;
  margin-block-start: -5rem;
}

.header__hero-title {
  width: 10rem;
  height: auto;
  grid-column: 1;
  grid-row: 1;
}

.header__hero-plantin {
  width: 14rem;
  height: auto;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
}

.header__hero-quil {
  width: 3rem;
  height: auto;
  justify-self: end;
  grid-column: 1;
  grid-row: 4;
  margin-top: -2.5rem;
  margin-inline-end: -2rem;
  z-index: 2;
}

.header__hero-banner {
  width: 26rem;
  height: auto;
  grid-column: 1;
  grid-row: 3;
  z-index: -1;
  align-self: start;
}

button {
  background-color: transparent;
  border-color: var(--colour-highlight-orange);
  border-radius: var(--spacing-30);
  color: var(--colour-highlight-orange);
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  line-height: 140%;
  font-size: var(--font-size-md);
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.chapter__bridge {
  height: 30rem;
}

.chapter {
  display: grid;
  grid-template-columns: 5rem 20rem;
  grid-template-rows: 6rem 20rem 20rem 4rem 7rem 4rem 15rem;
  padding-block-end: 8rem;

}

.chapter--one {
  position: relative;
  grid-template-columns: 5rem 20rem;
  grid-template-rows: 6rem 20rem 20rem 4rem 7rem 4rem 20rem 5rem;
  background:
    linear-gradient(rgba(242, 239, 230, 0.95), rgba(242, 239, 230, 0.95)),
    url('../assets/chapter1-man.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top 20% center;
  padding: 20px;
  padding: 0;
}

.chapter__interaction-colour {
  grid-column: 2;
  grid-row: 8;
}

.chapter__divider {
  height: 13rem;
  width: 0.1rem;
  background-color: var(--colour-font-black);
  margin-inline-start: 2rem;
}

.chapter__number {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  font-size: var(--font-size-number-mobile);
  grid-column: 1;
  grid-row: 1;
  transform: translateX(-1.5rem);
}

.chapter__title {
  grid-column: 2;
  grid-row: 1;
}

.chapter__divider--one {
  grid-column: 1;
  grid-row: 2;
  margin-inline-start: 2rem;
  height: 20rem;
}

.chapter__divider--two {
  grid-column: 1;
  grid-row: 3;
  height: 14rem;
}

.chapter__content--one {
  grid-column: 2;
}

.chapter__content--two {
  grid-column: 2;
  grid-row: 3;
}

.chapter__interaction-title {
  grid-column: 1 / 3;
  grid-row: 4;
  font-size: var(--font-size-mobile-h1);
  padding-inline: 1rem;
}

.chapter__divider--three {
  visibility: hidden;
}

.chapter__interaction-content {
  grid-column: 1 / 3;
  grid-row: 5;
  padding-inline-start: 1rem;
}

.chapter__interaction--quote {
  color: var(--colour-highlight-red);
  font-size: var(--font-size-desktop-h3);
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-style: italic;
  min-width: 22ch;
  grid-column: 1/3;
  grid-row: 6;
}

.canvas__wrapper {
  grid-column: 1/3;
  grid-row: 7;
  max-width: 17rem;
}

canvas {
  border: solid var(--size-border-width) var(--colour-font-black);
  cursor: url('../assets/hero-quil-cursor.png')0 74, auto;
}

.chapter__interaction-colour {
  grid-column: 2;
  grid-row: 7;
}

.chapter__interaction--image {
  grid-column: 2;
  grid-row: 7;
  justify-self: end;
  align-self: end;
  width: 8rem;
  height: auto;
}

.chapter--two {
  display: grid;
  grid-template-columns: 6rem 20rem;
  grid-template-rows: 8rem 14rem 6rem 9rem 20rem 10rem 6rem 13rem 13rem;
  background-color: var(--colour-bg-red);
  color: var(--colour-primary);
  min-width: 100vh;
  padding-block-start: var(--font-size-number);
  background-image: url("../assets/chapter2-eye.png"), url("../assets/chapter2-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 30%, 50%;
  background-position: top 8% right 60%, left center;
}

.bridge {
  background-color: var(--colour-primary);
}

.chapter__number--two {
  font-size: var(--font-size-number-mobile);
  grid-column: 1;
  grid-row: 1;
  transform: translateX(-1.5rem);
  align-self: center;

}

.chapter__title--two {
  max-width: 17ch;
  align-self: center;
}

.chapter__content--career-1 {
  grid-column: 2;
  grid-row: 3;
}

.chapter__content--career-2 {
  grid-column: 2;
  grid-row: 4;
}

.chapter__divider--two-1 {
  grid-column: 1;
  grid-row: 2;
  height: 25rem;
  width: 0.1rem;
  background-color: var(--colour-primary);
  margin-inline-start: 2rem;
}

.chapter__content--boundary {
  font-family: var(--header-font);
  font-size: var(--spacing-30);
  grid-column: 1/3;
  grid-row: 5;
  align-self: center;
  padding-inline-start: var(--spacing-30);
}

.chapter__content--craftsmanship {
  grid-column: 1 / 3;
  padding-inline-start: var(--spacing-20);
}

.chapter__content--year {
  grid-column: 1/3;
  font-size: var(--spacing-60);
  font-family: var(--header-font);
  padding-inline-start: 2rem;
  font-weight: 700;
}

.chapter__divider--two-2 {
  grid-column: 1;
  grid-row: 8;
  height: 15rem;
  width: 0.1rem;
  background-color: var(--colour-primary);
  margin-inline-start: 2rem;
}

.chapter__content--expansion {
  grid-column: 2;
  grid-row: 8;
}

.chapter__content--expansion2 {
  grid-column: 2;
  grid-row: 9;
}

.chapter__divider--two-3 {
  grid-column: 1;
  grid-row: 9;
  height: 11rem;
  width: 0.1rem;
  background-color: var(--colour-primary);
  margin-inline-start: 2rem;
}

.chapter-two__interactive {
  display: grid;
  grid-template-columns: 5rem 20rem;
  grid-template-rows: 4rem 14rem 6rem 9rem 20rem 10rem 6rem;
  padding-block-start: var(--font-size-number);
  margin: var(--spacing-20) 0;
}

.chapter-two__interactive-title {
  grid-column: 1/3;
  margin-inline-start: var(--spacing-30);
}

.chapter__divider--two-4 {
  grid-column: 1;
  grid-row: 2;
  height: 11rem;
  width: 0.1rem;
  margin-inline-start: 2rem;
  color: var(--colour-font-black);
}

.chapter-two__scrambled-letters {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-10);
  margin-bottom: var(--spacing-20);
}

.chapter-two__letter {
  width: var(--size-box);
  height: var(--size-box);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: var(--size-border-width) solid #ccc;
  border-radius: var(--size-border-radius);
  cursor: pointer;
  user-select: none;
}

.chapter-two__drop-zone {
  grid-column: 1/3;
  grid-row: 5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-10);
}

.chapter-two__drop-box {
  width: var(--size-box);
  height: var(--size-box);
  border: var(--size-border-width) dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapter-two__hidden {
  display: hidden;
}

.chapter-two__story {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-top: var(--spacing-20);
}

.chapter-two__story-title {
  font-size: var(--font-size-title);
  margin-bottom: var(--spacing-10);
}

.chapter-two__story-text {
  font-size: var(--font-size-subtitle);
}

.chapter-two__story.chapter-two__visible {
  visibility: visible;
  opacity: 1;
}



.chapter--three {
  display: grid;
  grid-template-columns: 6rem 20rem;
  grid-template-rows: 4rem;
  padding-block-start: 10.625rem;
  margin: var(--spacing-20) 0;
  padding-block-end: 0rem;
}

.chapter-three__content,
.chapter-three__item-2 {
  grid-column: 1/3;
}

.chapter-three__scroll-container-1 {
  display: grid;
  grid-template-columns: 6rem 20rem;
  grid-template-rows: 20rem 35rem;
  padding-block-start: 0rem;
}

.chapter__divider--three-3 {
  height: 14rem;
  width: 0.1rem;
  background-color: var(--colour-font-black);
  margin-inline-start: 2rem;
}

.chapter-three__text {
  grid-column: 2;
}

.chapter-three__image-1,
.chapter-three__image-2 {
  width: 15rem;
  height: auto;
}

.chapter-three__image-1 {
  grid-column: 2;
  grid-row: 2;
}

.chapter-three__caption {
  grid-column: 1;
  grid-row: 2;
  writing-mode: vertical-rl;
  font-family: var(--header-font);
  font-size: var(--font-size-mobile-h1);
  padding-block-start: var(--spacing-20);
  justify-self: end;
}

.chapter-three__scroll-container-2 {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 6rem 20rem;
  grid-template-rows: 15rem 28rem 15rem;
  padding-block-start: 0rem;
}

.chapter-three__text {
  grid-column: 2;
}

.chapter-three__caption-2 {
  grid-column: 1;
  grid-row: 2;
  writing-mode: vertical-rl;
  font-family: var(--header-font);
  font-size: var(--font-size-mobile-h1);
  padding-block-start: var(--spacing-20);
}

.chapter-three__text-3 {
  grid-column: 2;
  grid-row: 3;
}

.chapter--four {
  padding-block-start: var(--size-box-mobile);
  grid-template-rows: 8rem 8rem 5rem 10rem;
}

.button__primary:hover,
.chapter__four--button:hover {
  color: var(--colour-highlight-red);
  border-color: var(--colour-highlight-red);
  transform: scale(1.01);
}

.chapter__four--button--soon {
  grid-column: 2;
  width: fit-content;
  height: fit-content;
}

.chapter__four--button--top {
  grid-column: 2;
  width: fit-content;
  height: 4.8rem;
  border-radius: var(--size-box);
  justify-self: end;
  align-self: end;
}

.footer {
  background-color: var(--colour-bg-red);
  color: var(--colour-primary);
  padding-block-start: var(--spacing-60);
  min-width: 100vw;
  padding-inline: var(--spacing-60);
  padding-block: var(--spacing-60);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo-img {
  max-width: 150px;
  height: auto;
}

.footer__contact {
  padding-block: var(--size-box-mobile);
}

.footer__social-title {
  font-size: var(--font-size-mobile-h1);
  font-family: var(--header-font);
  padding-block-end: var(--size-box-mobile);
  font-weight: 700;
}

.footer__social-icon {
  max-width: 6rem;
  height: auto;
}

.footer__social-icon--instagram {
  max-width: 9rem;
  height: auto;
}

.text-reveal {
  opacity: 1;
  transform: translateY(20px);
}

.header__menu-link {
  display: block;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

@media screen and (min-width: 20rem) {
  .header__logo-image {
    width: 30%;
    height: auto;
  }

  .header__ham-menu span {
    right: -20rem;
  }

  .header__hero-title {
    width: 70vw;
    height: auto;
    grid-column: 1/4;
    grid-row: 1;
    justify-self: center;
  }

  .chapter--one {
    grid-template-rows: 6rem 20rem 20rem 4rem 7rem 4rem 20rem 5rem;
    grid-template-columns: 5rem 2 0rem;
  }

  .chapter__interaction-colour {
    grid-column: 2;
    grid-row: 8;
  }
}

@media screen and (min-width: 37rem) {
  .header__ink-drop {
    position: absolute;
    top: 48rem;
    left: 36.5rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--colour-bg-red);
    border-radius: 50%;
    z-index: -1;
  }

  h1 {
    font-size: var(--font-size-desktop-h1);
  }

  h2 {
    font-size: var(--font-size-desktop-h2);
  }

  h3 {
    font-size: var(--font-size-desktop-h3);
  }

  .header__logo-image {
    width: 20%;
    height: auto;
  }

  .header__menu {
    right: -120rem;
  }

  .header__ham-menu span {
    right: -40rem;
  }

  .header__hero-container {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 10rem 12rem 12rem 12rem;
    margin-block-start: -10rem;
  }

  .header__hero-title {
    width: 30rem;
    height: auto;
    grid-column: 1/4;
    grid-row: 1;
    justify-self: center;
  }

  .header__hero-plantin {
    width: 25rem;
  }

  .header__hero-quil {
    width: 6.5rem;
    justify-self: end;
    grid-row: 3;
    margin-block-start: 3.5rem;
    margin-inline-end: -4rem
  }

  .header__hero-banner {
    width: 46rem;
    grid-row: 4;
    align-self: end;
  }

  .button__container {
    height: 0vh;
    margin-block-end: var(--size-box);
  }

  .chapter {
    grid-template-columns: 5rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 6rem 20rem 20rem 4rem 7rem 4rem 15rem;
    padding-block-end: 8rem;
  }

  .chapter__number {
    font-size: var(--font-size-number-mobile);
    transform: translateX(-2rem);
  }

  .chapter--one {
    grid-template-rows: 6rem 20rem 20rem 4rem 7rem 4rem 20rem 5rem;
    grid-template-columns: 5rem 2 0rem;
  }

  .chapter__interaction-colour {
    grid-column: 2/4;
    grid-row: 8;
  }

  .chapter__title {
    grid-column: 2/5;
    min-width: 17ch;
  }

  .chapter__title--one {
    grid-column: 2/5;
    min-width: 17ch;
    justify-self: center;
  }

  .chapter__divider--one {
    height: 15rem;
  }

  .chapter__content--one {
    grid-column: 2/4;
  }

  .chapter__divider--two {
    grid-column: 2;
    justify-self: end;
    margin-inline-end: var(--size-box-mobile);
    height: 11rem;
  }

  .chapter__content--two {
    grid-column: 3/5;
  }

  .chapter__interaction-title,
  .chapter__interaction-content {
    grid-column: 2/4;
  }

  .chapter__divider--three {
    height: 10rem;
    width: 0.1rem;
    grid-column: 1;
    grid-row: 4;
    background-color: var(--colour-font-black);
    margin-inline-start: 2rem;
  }

  .chapter__interaction--quote {
    grid-column: 2;
    grid-row: 6;
  }

  .canvas {
    border: solid var(--size-border-width) var(--colour-font-black);
    cursor: url('../assets/hero-quil-cursor.png')0 74, auto;
    width: 100%;
    height: 100%;
  }

  .canvas__wrapper {
    grid-column: 2/4;
    grid-row: 7;
  }

  .chapter__interaction--image {
    grid-column: 4;
    grid-row: 7;
  }

  /* .site-content {
    visibility: hidden !important;
    transition: visibility 0.3s ease;
  } */

  .chapter--two {
    display: grid;
    grid-template-columns: 6rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 8rem 14rem 6rem 9rem 35rem 20rem 5rem 20rem 20rem;
    background-color: var(--colour-bg-red);
    color: var(--colour-primary);
    min-width: 100vh;
    padding-block-start: var(--font-size-number);
    background-image: url("../assets/chapter2-eye.png"), url("../assets/chapter2-bg.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 90%;
    background-position: top 15% right 10%, left center;
  }

  .chapter__content--intro {
    grid-column: 2/4;
    grid-row: 2;
  }

  .chapter__content--career-1 {
    grid-column: 2/4;
    grid-row: 3;
  }

  .chapter__content--career-2 {
    grid-column: 2/4;
    grid-row: 4;
  }

  .chapter__content--boundary {
    font-size: var(--font-size-desktop-h2);
    grid-column: 2/5;
    grid-row: 5;
    padding-inline-start: var(--spacing-30);
    line-height: 140%;
  }

  .chapter__content--craftsmanship {
    grid-column: 3 / 5;
    grid-row: 6;
    padding-inline-start: var(--spacing-20);
    max-width: 29ch;
    justify-self: center;
  }

  .chapter__content--year {
    grid-column: 2/4;
    grid-row: 7;
    align-self: start;
    padding-inline-start: 0rem;
  }

  .chapter__content--expansion {
    grid-column: 2/4;
    grid-row: 8;
    padding-inline-end: 4rem;
  }

  .chapter__divider--two-2 {
    height: 10rem;
  }

  .chapter__divider--two-3 {
    grid-column: 2;
    justify-self: end;
    margin-inline-end: var(--size-box-mobile);
    height: 9rem;
  }

  .chapter__content--expansion2 {
    grid-column: 3/5;
    grid-row: 9;
    padding-inline-end: 3rem;
  }

  .chapter-two__interactive {
    grid-template-columns: 5rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 4rem 10rem 15rem 15rem;
    margin-inline: var(--spacing-30) 0;
  }


  .chapter-two__interactive-title {
    grid-column: 1/4;
    margin-inline-start: var(--spacing-30);
  }

  .chapter__divider--two-4 {
    height: 8rem;
  }

  .chapter-two__interactive-description {
    grid-column: 2/4;
    grid-row: 2;
    margin-inline-start: var(--spacing-30);
  }

  .chapter-two__scrambled-letters {
    grid-column: 2/4;
  }

  .chapter-two__drop-zone {
    grid-column: 2/4;
    grid-row: 4;
  }

  .chapter--three {
    grid-template-columns: 6rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 4rem 20rem 35rem 15rem 28rem 18rem;
    padding-block-end: 8rem;
  }

  .chapter-three__text-1 {
    grid-column: 2/4;
    max-width: 40ch;
  }

  .chapter-three__scroll-container-1 {
    display: grid;
    grid-template-columns: 6rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 20rem 37rem;
    padding-block: 0rem 7rem;
  }

  .chapter-three__image-1 {
    width: 18rem;
    grid-column: 2/4;
    grid-row: 2;
    justify-self: center;
  }

  .chapter-three__caption {
    grid-column: 2;
    grid-row: 2;
    writing-mode: vertical-rl;
    font-family: var(--header-font);
    font-size: var(--font-size-desktop-h3);
    padding-block-start: var(--spacing-20);
    justify-self: start;
  }

  .chapter-three__scroll-container-2 {
    grid-template-columns: 6rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 15rem 30rem 15rem;
  }

  .chapter-three__text-2 {
    grid-column: 3/5;
    grid-row: 1;
    max-width: 40ch;
  }

  .chapter-three__image-2 {
    grid-column: 2/4;
    grid-row: 2;
    justify-self: center;
  }

  .chapter-three__caption-2 {
    grid-column: 2;
    grid-row: 2;
    writing-mode: vertical-rl;
    font-family: var(--header-font);
    font-size: var(--font-size-subtitle);
    padding-block-start: var(--spacing-20);
    justify-self: start;
  }

  .chapter-three__text-3 {
    grid-column: 2/5;
  }

  .chapter--four {
    padding-block-start: var(--size-box-mobile);
    grid-template-rows: 6rem 8rem 4rem 10rem;
    grid-column: 6rem 12.5rem 12.5rem 12.5rem;
  }

  .chapter__four--content {
    grid-column: 2/4;
    grid-row: 2;
    max-width: 40ch;
  }

  .chapter__four--button--soon {
    grid-column: 2/4;
    width: fit-content;
    height: fit-content;
  }

  .chapter__four--button--top {
    grid-column: 4;
    grid-row: 4;
  }
}

@media screen and (min-width: 60rem) {

  /* Ink Drop */
  .header__ink-drop {
    position: absolute;
    top: 48rem;
    left: 36.5rem;
    /* transform: translateX(-50%); */
    width: 1rem;
    height: 1rem;
    background-color: var(--colour-bg-red);
    border-radius: 50%;
    z-index: -1;
  }

  .header__logo-image {
    width: 10%;
    height: auto;
    margin-inline-start: 4rem;
    margin-block-start: 4rem;
  }

  .header__menu {
    right: -120rem;
  }

  .header__ham-menu span {
    right: -60rem;
  }

  .header__hero-container {
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    grid-template-rows: 10rem 12rem 12rem 12rem;
    margin-block-start: -21rem;
  }

  .header__hero-title {
    width: 50rem;
    grid-column: 1/4;
    grid-row: 2;
    justify-self: center;
  }

  .header__hero-plantin {
    width: 35rem;
    grid-row: 1/3;
    justify-self: center;
    margin-block-start: 8rem;
  }

  .header__hero-quil {
    width: 8rem;
    justify-self: start;
    grid-row: 3;
    grid-column: 2;
    margin-block-start: 8rem;
    margin-inline-start: 1rem;
  }

  .header__hero-banner {
    width: 70rem;
    grid-column: 1/4;
    grid-row: 2;
    justify-self: center;
    align-self: start;
    margin-block-start: 6rem;
  }

  .button__container {
    height: 10vh;
    justify-content: end;
    padding-inline: var(--size-box);
    margin-block-start: 5rem;
  }

  .chapter {
    grid-template-columns: 5rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 6rem 20rem 20rem 4rem 7rem 4rem 15rem;
    padding-block-end: 8rem;
    justify-content: center;
  }

  .chapter__number {
    font-size: 14rem;
    transform: translateX(-13rem);
  }

  .chapter--one {
    grid-template-rows: 8rem 17rem 15rem 4rem 7rem 4rem 20rem 5rem;
    background-image: url('../assets/chapter1-man2.png'), url('../assets/chapter1-woman.png');
    background-size: 20%, 30%;
    background-repeat: no-repeat, no-repeat;
    background-position: top right 20%, bottom 20% left 20%;
  }

  .chapter__interaction-colour {
    grid-column: 5/7;
    grid-row: 8;
  }

  .chapter__title {
    grid-column: 2/5;
    min-width: 17ch;
  }

  .chapter__content--one {
    grid-column: 2/5;
    max-width: 49ch;
    margin-inline-start: 1rem;
  }

  .chapter__divider--two {
    grid-column: 3;
  }

  .chapter__content--two {
    grid-column: 4/6;
  }

  .chapter__interaction-title,
  .chapter__interaction-content {
    grid-column: 5/7;
  }

  .chapter__divider--three {
    visibility: visible;
    height: 30rem;
    width: 0.1rem;
    grid-column: 4;
    grid-row: 4/7;
    background-color: var(--colour-font-black);
    margin-inline-start: 2rem;
  }

  .chapter__interaction--quote {
    grid-column: 5;
    grid-row: 6;
  }

  .canvas__wrapper {
    grid-column: 5/7;
    grid-row: 7;
  }

  .canvas {
    border: solid var(--size-border-width) var(--colour-font-black);
    cursor: url('../assets/hero-quil-cursor.png')0 74, auto;
    width: 100%;
    height: 100%;
  }

  .chapter__interaction--image {
    grid-column: 6;
    grid-row: 7;
  }

  .site-content {
    visibility: hidden !important;
    transition: visibility 0.3s ease;
  }

  .chapter--two {
    display: grid;
    grid-template-columns: 6rem 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 13rem 13rem 6rem 9rem 35rem 20rem 5rem 20rem 20rem;
    background-color: var(--colour-bg-red);
    color: var(--colour-primary);
    min-width: 100vh;
    padding-block-start: var(--font-size-number);
    background-image: url("../assets/chapter2-eye.png"), url("../assets/chapter2-bg.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 90%;
    background-position: top 15% right 10%, left center;
  }

  .chapter__content--boundary {
    font-size: var(--font-size-desktop-h1);
    grid-column: 2/6;
    padding-inline-start: var(--spacing-60);
  }

  .chapter__content--craftsmanship {
    grid-column: 4/7;
    max-width: 40ch;
  }

  .chapter__content--expansion {
    grid-column: 2/4;
    grid-row: 8;
    padding-inline-end: 4rem;
  }

  .chapter__divider--two-2 {
    height: 12rem;
  }

  .chapter__divider--two-3 {
    grid-column: 4;
    justify-self: start;
    height: 10rem;
  }

  .chapter__content--expansion2 {
    grid-column: 4/7;
    justify-self: center;
    max-width: 45ch;
  }

  .chapter-two__interactive {
    grid-template-columns: 5rem 12.5rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 6rem 10rem 15rem 15rem;
    justify-content: center;
  }

  .chapter__divider--two-4 {
    height: 40rem;
  }

  .chapter-two__interactive-description {
    grid-column: 2/5;
    margin-inline-start: 0rem;
    max-width: 80ch;
  }

  .chapter-two__scrambled-letters {
    grid-column: 2/5;
    justify-content: flex-start;
  }

  .chapter-two__drop-zone {
    grid-column: 2/5;
    justify-content: flex-start;
  }

  .chapter-two__drop-box--incorrect {
    border-color: red;
    border-width: 0.125rem;
    transition: border-color 0.3s ease;
  }

  .chapter__number--three {
    display: flex;
  }

  .chapter--three .chapter__number--three {
    display: flex;
    /* margin: 3rem; */
  }

  .chapter-three__text-1 {
    grid-column: 2/4;
    max-width: 40ch;
    margin-inline: 4rem;
  }

  .chapter-three__content {
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
    width: calc(100vw * 3);
    height: 100%;
  }

  .chapter-three__content>div {
    flex: 0 0 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chapter-three__scroll-container-1 {
    display: grid;
    grid-template-columns: 6rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 20rem 37rem;
    padding-block: 0rem 7rem;
  }

  .chapter-three__image-1 {
    width: 18rem;
  }

  .chapter-three__caption {
    writing-mode: vertical-rl;
    font-family: var(--header-font);
    font-size: var(--font-size-desktop-h3);
    padding-block-start: var(--spacing-20);
    justify-self: start;
    min-height: 35ch;
  }

  .chapter-three__scroll-container-2 {
    grid-template-columns: 6rem 12.5rem 12.5rem 12.5rem;
    grid-template-rows: 15rem 30rem 15rem;
  }

  .chapter-three__text-2 {
    grid-column: 3/5;
    grid-row: 1;
    max-width: 40ch;
    margin-inline-end: 10rem;
  }

  .chapter-three__image-2 {
    grid-column: 2/4;
    grid-row: 2;
    justify-self: center;
  }

  .chapter-three__caption-2 {
    grid-column: 2;
    grid-row: 2;
    writing-mode: vertical-rl;
    font-family: var(--header-font);
    font-size: var(--font-size-subtitle);
    padding-block-start: var(--spacing-20);
    justify-self: start;
  }

  .chapter-three__text-3 {
    grid-column: 2/5;
    max-width: 40ch;
    margin-inline-start: 4rem;
  }

  .chapter--four {
    padding-block-start: var(--size-box-mobile);
    grid-template-columns: 5rem 12.5rem 12.5rem;
    grid-template-rows: 6rem 8rem 4rem 10rem;
    justify-content: center;
  }

  .chapter__divider--four {
    grid-column: 1;
    grid-row: 2;
  }

  .chapter__four--content {
    grid-column: 2/4;
    grid-row: 2;
    max-width: 40ch;
  }

  .chapter__four--button--top {
    grid-column: 5;
    grid-row: 4;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--spacing-30);
  }

  .footer__logo-img {
    margin-block-end: 0;
    padding-inline-end: var(--spacing-30);
  }

  .footer__contact {
    text-align: left;
    padding-block: 0;
    flex: 1;
  }

  .footer__social-title {
    text-align: left;
    font-size: var(--font-size-body);
    min-width: 7ch;
  }

  .footer__social-icon {
    margin: 0;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    gap: var(--spacing-10);
    flex: 1;
  }
}

@media screen and (min-width: 100rem) {
  .header__menu {
    right: -140rem;
  }

  .header__ham-menu span {
    right: -110rem;
  }
}



.content p {
  position: relative;
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--colour-font-black);
    color: rgb(230, 230, 230);
  }

  h1 {
    color: var(--colour-highlight-red);
  }

  .chapter__divider {
    color: var(--colour-primary);
  }

  .off-screen-menu {
    background-color: rgb(168, 98, 100);
  }

  a .off-screen-menu {
    color: #3576bc;
  }

  a:visited {
    color: var(--colour-highlight-orange);
    text-decoration-color: lightpink;
  }

  .chapter--one {
    position: relative;
    background:
      linear-gradient(rgba(16, 15, 12, 0.95), rgba(12, 11, 9, 0.95)),
      url('../assets/chapter1-man.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 20% center;
    padding: 20px;
    padding: 0;
  }

  .chapter__bridge {
    background-color: #0d0d0e;
  }

  .chapter-two__letter {
    width: var(--size-box);
    height: var(--size-box);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #732626;
    border: var(--size-border-width) solid #ccc;
    border-radius: var(--size-border-radius);
    cursor: pointer;
    user-select: none;
  }

  .footer-icons .icon {
    background-color: rgb(160, 44, 44);
  }

  .ham-menu span {
    background-color: white;
  }

  .section {
    background-color: rgb(40, 40, 40);
  }
}